
@{
    ViewBag.Title = "Home";
}

<div class="main-img">
    <img class="img-responsive" src="~/Content/images/mainImg-home.jpg" />

    <div class="container ">
        <div class="row content-wrapper">
            <div class="col-md-6">

                <div class="">
                    <h4 class="title-h4">15-Minute Transfer</h4>
                </div>
                <div class="">
                    <h1 class="title-h1">Getting Money </h1>
                </div>
                <div class="">
                    <h4 class="title-h4">is now as easy as spending </h4>
                </div>
                <div class="button_wrap">
                    <a class="main-img-button" href="#">
                        <span>How it works?</span>
                    </a>
                </div>
                <div class="button_wrap">
                    <a class="main-img-button" href="#">
                        <span>Why PayDay loans</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="cmsmasters_featured_block cmsmasters_customizing">
                <div class="">
                    <div class="featured_block_text">
                        <div class="">
                            <h2 class="">How much do you need?</h2>
                        </div>
                        <div class="">
                            <h5 class="">You could get up to $5000!*</h5>
                        </div>
                        <div class="">
                            <div class="">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div class="container">
    <div class="row">

    </div>
</div>

