
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron-custom">

    <div class="container">
        <div class="row jumbotron-content-wrapper">
            <div class="col-md-6">
                <div class="jumbotron-slogon">
                    <div class="slogon-title">
                        <h1 class="title-h1">Getting Money </h1>
                    </div>
                    <div class="sub-slogon">
                        <h4 class="title-h4">is now as easy as spending </h4>
                    </div>
                    <div class="button_wrap">
                        <a class="main-img-button button-style-invert" href="#">
                            <span>How it works?</span>
                        </a>
                    </div>
                    <div class="button_wrap">
                        <a class="main-img-button" href="#">
                            <span>Why PayDay loans</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="main-form-wrapper">
                    <div class="main-form-info-wrapper">
                        <div class="main-form_text">
                            <div class="form-question">
                                <h2 class="title-h2">How much do you need?</h2>
                            </div>
                            <div class="form-question-rectification">
                                <h5 class="title-h5">You could get up to $5000!*</h5>
                            </div>
                            <div class="form">
                                <div class="">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container offers-block">
    <div class="row">
        <div class="col-md-4">
            <figure class="offers-item">
                <div class="offers-img-wrapper">
                    <img src="~/Content/images/offer1.png" />
                </div>
                <figcaption class="offers-title">Where ever you are</figcaption>
                <div class="figure-text">Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et nec</div>
                <div class="offer-link-wrapper">
                    <a class="offer-link" href="#">HOW IT WORKS?</a>
                </div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="offers-item">
                <div class="offers-img-wrapper">
                    <img src="~/Content/images/offer2.png" />
                </div>
                <figcaption class="offers-title">Directly to your card</figcaption>
                <div class="figure-text">Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et nec</div>
            </figure>
        </div>
        <div class="col-md-4">
            <figure class="offers-item">
                <div class="offers-img-wrapper">
                    <img src="~/Content/images/offer3.png" />
                </div>
                <figcaption class="offers-title">It’s Fast and Secure</figcaption>
                <div class="figure-text">Cum sociis natoque penatibus et magnis. Pro vel nibh et elit mollis commodo et nec</div>
                <div class="offer-link-wrapper">
                    <a class="offer-link" href="#">Read our policies</a>
                </div>
            </figure>
        </div>
    </div>
</div>

<div class="parallax get-money-block">

    <div class="parallax__layer">
        <div >
            <h1 class="title-h1">Get money right now!</h1>
        </div>
       <div class="get-money-block-slogon">within 15 minutes</div> 
    </div>
</div>



