
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron-custom">

    <div class="container">
        <div class="row jumbotron-content-wrapper">
            <div class="col-md-6">
                <div class="jumbotron-slogon">
                    <div class="slogon-title">
                        <h1 class="title-h1">Getting Money </h1>
                    </div>
                    <div class="sub-slogon">
                        <h4 class="title-h4">is now as easy as spending </h4>
                    </div>
                    <div class="button_wrap">
                        <a class="main-img-button button-style-invert" href="#">
                            <span>How it works?</span>
                        </a>
                    </div>
                    <div class="button_wrap">
                        <a class="main-img-button" href="#">
                            <span>Why PayDay loans</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="main-form-wrapper">
                    <div class="main-form-info-wrapper">
                        <div class="main-form_text">
                            <div class="form-question">
                                <h2 class="title-h2">How much do you need?</h2>
                            </div>
                            <div class="form-question-rectification">
                                <h5 class="title-h5">You could get up to $5000!*</h5>
                            </div>
                            <div class="form">
                                <div class="">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">

    </div>
</div>

