
@{
    ViewBag.Title = "LoanForm";
}
<div class="container privacy-policy-block">
    <div class="row">
        <div class="col-md-12">
            <h2>LoanForm   @ViewBag.Amount   @ViewBag.Email</h2>
            <script language="javascript">
window.lmpost = {};
window.lmpost.options = {campaignid: '235574', subid:'', testresult: '', domain: 'https://www.paydaylendersearch.com/forms/paydayv3/', form: '../1page_form', leadtypeid: '9'};
document.write('<script id="leadsb2cformsrc" async="async" type="text/javascript" src="' + lmpost.options.domain + 'Scripts/forms.core.js"><\/script>');
            </script>
        </div>
    </div>
</div>
