
@{
    ViewBag.Title = "LoanForm";
}
<div class="container privacy-policy-block">
    <div class="row">
        <div class="col-md-12">
            <h2>LoanForm   @ViewBag.Amount   @ViewBag.Email</h2>

        </div>
    </div>
</div>
